body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: white;
  border-radius: 10px;
  padding: 1.5rem;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 1rem;
}

label {
  font-size: 0.9rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 0.25rem;
  display: block;
}

.form-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #cce7ff;
  border-radius: 5px;
  font-size: 0.9rem;
}

.form-input.small {
  width: 75%;
}

.form-button {
  background-color: #004aad;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  display: block;
  margin: 1rem auto 0;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #00337f;
}